.conteudo {
  text-align: center;
  margin-top: 10vh;
  background-color: #ccc;
}

.cronometro {
  font-size: 30vh;
  text-shadow: -2px 2px grey;
}

.controles {
  justify-content: center;
  display: flex;
}

.botao {
  width: 60px;
  background-color: #888;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
