@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700;900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
}

#area-da-foto {
  width: 40vh;
  height: 40vh;
  margin-bottom: 3vh;
}

#foto-de-perfil {
  width: 100%;
  height: 100%;
  background-image: url("./assets/Profile.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#controles {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 2vh;
  height: 6vh;
  width: 30vh;
}
